# Transform Data

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
dataframe = pd.read_csv('/content/gdrive/MyDrive/Bigdata/data/penguins_size.csv')
dataframe.head()

  species     island  culmen_length_mm  ...  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen              39.1  ...              181.0       3750.0    MALE
1  Adelie  Torgersen              39.5  ...              186.0       3800.0  FEMALE
2  Adelie  Torgersen              40.3  ...              195.0       3250.0  FEMALE
3  Adelie  Torgersen               NaN  ...                NaN          NaN     NaN
4  Adelie  Torgersen              36.7  ...              193.0       3450.0  FEMALE

[5 rows x 7 columns]

In [ ]:
dataframe.shape

(344, 7)

In [ ]:
dataframe = dataframe.dropna()
dataframe.shape

(334, 7)

In [ ]:
dataframe = dataframe.drop('sex', axis=1)
dataframe.head()

  species     island  ...  flipper_length_mm  body_mass_g
0  Adelie  Torgersen  ...              181.0       3750.0
1  Adelie  Torgersen  ...              186.0       3800.0
2  Adelie  Torgersen  ...              195.0       3250.0
4  Adelie  Torgersen  ...              193.0       3450.0
5  Adelie  Torgersen  ...              190.0       3650.0

[5 rows x 6 columns]

In [ ]:
data = dataframe.values

In [ ]:
data

array([['Adelie', 'Torgersen', 39.1, 18.7, 181.0, 3750.0],
       ['Adelie', 'Torgersen', 39.5, 17.4, 186.0, 3800.0],
       ['Adelie', 'Torgersen', 40.3, 18.0, 195.0, 3250.0],
       ...,
       ['Gentoo', 'Biscoe', 50.4, 15.7, 222.0, 5750.0],
       ['Gentoo', 'Biscoe', 45.2, 14.8, 212.0, 5200.0],
       ['Gentoo', 'Biscoe', 49.9, 16.1, 213.0, 5400.0]], dtype=object)

In [ ]:
from tensorflow.keras.utils import to_categorical

In [ ]:
X = data[:,1:]
y = data[:,0]

In [ ]:
X

array([['Torgersen', 39.1, 18.7, 181.0, 3750.0],
       ['Torgersen', 39.5, 17.4, 186.0, 3800.0],
       ['Torgersen', 40.3, 18.0, 195.0, 3250.0],
       ...,
       ['Biscoe', 50.4, 15.7, 222.0, 5750.0],
       ['Biscoe', 45.2, 14.8, 212.0, 5200.0],
       ['Biscoe', 49.9, 16.1, 213.0, 5400.0]], dtype=object)

In [ ]:
y

array(['Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap', 'Chinstrap',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo'],
      dtype=object)

In [ ]:
from collections import Counter
counter = Counter()
counter.update(y)
print(counter)

Counter({'Adelie': 146, 'Gentoo': 120, 'Chinstrap': 68})

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
for i in range(X.shape[1]):
    X[:,i] = encoder.fit_transform(X[:,i])
y=encoder.fit_transform(y)

In [ ]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2])

In [ ]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
X = minmax.fit_transform(X)

In [ ]:
X

array([[1.        , 0.25308642, 0.71794872, 0.09433962, 0.32608696],
       [1.        , 0.27160494, 0.55128205, 0.18867925, 0.34782609],
       [1.        , 0.30864198, 0.62820513, 0.35849057, 0.11956522],
       ...,
       [0.        , 0.83333333, 0.33333333, 0.8490566 , 0.93478261],
       [0.        , 0.54320988, 0.21794872, 0.66037736, 0.81521739],
       [0.        , 0.80246914, 0.38461538, 0.67924528, 0.85869565]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print('Train:')
print(X_train.shape)
print(y_train.shape)
print('Test:')
print(X_test.shape)
print(y_test.shape)

Train:
(233, 5)
(233,)
Test:
(101, 5)
(101,)

# Model

In [ ]:
from sklearn import svm
#model 1
model = svm.SVC(kernel='linear', C=1)
model.fit(X_train, y_train)

SVC(C=1, kernel='linear')

In [ ]:
y_pred=model.predict(X_test)

In [ ]:
for i in range(len(y_test)):
  print(y_test[i], y_pred[i])

0 0
2 2
0 0
1 1
0 0
2 2
2 2
1 1
1 1
1 1
0 0
0 0
2 2
0 0
2 2
0 0
0 0
1 1
0 0
2 2
0 0
0 0
2 2
1 1
0 0
0 0
2 2
2 2
1 1
2 2
1 1
2 2
0 0
0 0
2 2
2 2
1 1
2 2
0 0
0 0
0 0
0 0
1 1
1 1
0 0
0 0
2 2
0 0
0 0
2 2
0 0
2 2
2 2
0 0
0 0
2 2
0 0
0 0
1 1
1 1
2 2
2 2
2 2
0 0
0 0
2 2
0 0
2 2
0 0
2 2
0 0
0 0
2 2
2 2
2 2
1 1
0 0
0 0
0 0
2 2
0 0
0 0
1 0
0 0
2 2
2 2
0 0
2 2
1 1
1 1
2 2
2 2
0 0
0 0
0 0
0 0
0 0
1 1
0 0
0 0
0 0

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99        49
           1       1.00      0.94      0.97        18
           2       1.00      1.00      1.00        34

    accuracy                           0.99       101
   macro avg       0.99      0.98      0.99       101
weighted avg       0.99      0.99      0.99       101

In [ ]:
#model 2
model_2 = svm.SVC(kernel='poly', C=1)
model_2.fit(X_train, y_train)
y_pred_2=model_2.predict(X_test)
# for i in range(len(y_test)):
#   print(y_test[i], y_pred_2[i])
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_2))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99        49
           1       1.00      0.94      0.97        18
           2       1.00      1.00      1.00        34

    accuracy                           0.99       101
   macro avg       0.99      0.98      0.99       101
weighted avg       0.99      0.99      0.99       101

In [ ]:
#model 2
model_3 = svm.SVC(kernel='poly', C=3)
model_3.fit(X_train, y_train)
y_pred_3=model_3.predict(X_test)
# for i in range(len(y_test)):
#   print(y_test[i], y_pred_2[i])
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_3))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        49
           1       1.00      1.00      1.00        18
           2       1.00      1.00      1.00        34

    accuracy                           1.00       101
   macro avg       1.00      1.00      1.00       101
weighted avg       1.00      1.00      1.00       101

In [ ]:
#model 4
model_4 = svm.SVC(kernel='rbf', C=3)
model_4.fit(X_train, y_train)
y_pred_4=model_4.predict(X_test)
# for i in range(len(y_test)):
#   print(y_test[i], y_pred_2[i])
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_4))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99        49
           1       1.00      0.94      0.97        18
           2       1.00      1.00      1.00        34

    accuracy                           0.99       101
   macro avg       0.99      0.98      0.99       101
weighted avg       0.99      0.99      0.99       101

In [ ]:
#model 5
model_5 = svm.SVC(kernel='sigmoid', C=3)
model_5.fit(X_train, y_train)
y_pred_5=model_5.predict(X_test)
# for i in range(len(y_test)):
#   print(y_test[i], y_pred_2[i])
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_5))

              precision    recall  f1-score   support

           0       0.49      0.57      0.53        49
           1       0.14      0.11      0.12        18
           2       0.70      0.62      0.66        34

    accuracy                           0.50       101
   macro avg       0.44      0.43      0.44       101
weighted avg       0.50      0.50      0.50       101

In [ ]:
#model 6
model_6 = svm.SVC(kernel='sigmoid', C=1)
model_6.fit(X_train, y_train)
y_pred_6=model_6.predict(X_test)
# for i in range(len(y_test)):
#   print(y_test[i], y_pred_2[i])
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_6))

              precision    recall  f1-score   support

           0       0.53      0.65      0.59        49
           1       0.17      0.11      0.13        18
           2       0.72      0.62      0.67        34

    accuracy                           0.54       101
   macro avg       0.47      0.46      0.46       101
weighted avg       0.53      0.54      0.53       101

In [ ]:
#model with Logistic Regression
from sklearn.linear_model import LogisticRegression
logisticRegr_model = LogisticRegression(solver = 'lbfgs')
logisticRegr_model.fit(X_train, y_train)
y_pred_logisticRegr=logisticRegr_model.predict(X_test)
# for i in range(len(y_test)):
#   print(y_test[i], y_pred_logisticRegr[i])
print(classification_report(y_test,y_pred_logisticRegr))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99        49
           1       1.00      0.94      0.97        18
           2       1.00      1.00      1.00        34

    accuracy                           0.99       101
   macro avg       0.99      0.98      0.99       101
weighted avg       0.99      0.99      0.99       101

In [ ]:
#model with Decision Tree
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier(random_state=0, max_depth=2)
decision_tree.fit(X_train, y_train)
y_pred_decision=decision_tree.predict(X_test)
# for i in range(len(y_test)):
#   print(y_test[i], y_pred_logisticRegr[i])
print(classification_report(y_test,y_pred_decision))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98        49
           1       1.00      0.89      0.94        18
           2       1.00      1.00      1.00        34

    accuracy                           0.98       101
   macro avg       0.99      0.96      0.97       101
weighted avg       0.98      0.98      0.98       101

In [ ]:
#model with Knn
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X_train, y_train)
y_pred_knn=neigh.predict(X_test)
# for i in range(len(y_test)):
#   print(y_test[i], y_pred_logisticRegr[i])
print(classification_report(y_test,y_pred_knn))

              precision    recall  f1-score   support

           0       1.00      0.98      0.99        49
           1       0.95      1.00      0.97        18
           2       1.00      1.00      1.00        34

    accuracy                           0.99       101
   macro avg       0.98      0.99      0.99       101
weighted avg       0.99      0.99      0.99       101